services:
  minio:
    image: minio/minio:latest
    container_name: minio_server
    ports:
      - "9000:9000"       # Port API (Code python sẽ chọc vào đây)
      - "9001:9001"       # Port Console (Giao diện web để xem ảnh)
    environment:
      MINIO_ROOT_USER: minhchisgod672006     # Username đăng nhập
      MINIO_ROOT_PASSWORD:  minhchitran@  # Password đăng nhập
    command: server /data --console-address ":9001"
    volumes:
      - ./minio_data:/data
    networks:
      - minhNetwork
networks:
  minhNetwork:
    driver: bridge
    name: minhNetwork